/* image-overlay.component.css */
.image-container {
    position: relative;
    display: inline-block;
}

.background-image {
    width: 100%;
    height: auto;
}

.circle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.graph-circle {
    width: 2.5%;
    height: 3.5%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    color: rgb(114, 166, 212);
    text-align: center;
    text-size-adjust: 50%;
}

.usun-button {
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 7px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 0.5%;
    color: white
}

.save-button {
    background: orange;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer
}

.load-button {
    background: orangered;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    margin-left: 2%;
    cursor: pointer
}


.circle-overlay {
    /* ... */
    overflow: visible; /* Allow the lines to overflow */
}

.line {
    position: absolute;
    background-color: black; /* Change line color as needed */
    /*width: 2px; !* Change line thickness as needed *!*/
    height: 8px;
    z-index: -1; /* Make sure the lines are below the circles */
    transform-origin: top;
}
/*.line {*/
/*    position: absolute;*/
/*    transform-origin: var(--startX) var(--startY);*/
/*    transform: rotate(var(--angle));*/
/*    top: var(--startY);*/
/*    left: var(--startX);*/
/*}*/