
<form style=" padding: 7%">


    <div>
        <h2>Lista Zakupow</h2>
        <ul>
            <li *ngFor="let item of shoppingList; let i = index">
                <button (click)="removeItem(i)" style="border: solid medium darkred;"> - X - </button>
                {{ item.getProductCategory() }}
            </li>
        </ul>
    </div>
    <div>
        <button (click)="saveArrayToLocalStorage()" style="background: lawngreen;"> ZAPISZ </button>
        <button (click)="loadArrayFromLocalStorage()" style="background: greenyellow;margin-left: 10px;"> WCZYTAJ OSTATNIE </button>
    </div>

    <div style=" padding: 10px;">
    <!-- <label for="product">Wybierz dział </label> -->
    <button type="button" (click)="addToShoppingList()" style=" background-color:lightblue; padding: 3px;">
        Dodaj dział do ściezki </button>
    <select id="product" name="product" [(ngModel)]="selectedProduct" style="border: solid medium darkcyan; background-color:lavender;">
        <option *ngFor="let product of products" [value]="product">{{ product }}</option>
    </select>
    </div>
    <br/><br/>
    <button type="button" (click)="drawGraph()" style="border: solid medium lightblue; background: lightblue"
    >Pokaz sciezke</button>
</form>

<div>
    <h1>Image Overlay</h1>
    <div class="image-container">
        <img src="/assets/mapa.png" alt="Background Image" class="background-image" style="opacity: 0.5;">
        <div class="circle-overlay" >
            <div class="red-circle" style="top: 87.20%; left: 94.18%;" id="1">1</div>
            <div class="red-circle" style="top: 73.09%; left: 91.76%;" id="2">2</div>
            <div class="red-circle" style="top: 56.85%; left: 90.84%;" id="3">3</div>
            <div class="red-circle" style="top: 31.38%; left: 92.56%;" id="4">4</div>
            <div class="red-circle" style="top: 22.06%; left: 87.38%;" id="5">5</div>
            <div class="red-circle" style="top: 4.27%; left: 96.66%;" id="6">6</div>
            <div class="red-circle" style="top: 2.65%; left: 84.67%;" id="7">7</div>
            <div class="red-circle" style="top: 3.16%; left: 77.64%;" id="8">8</div>
            <div class="red-circle" style="top: 3.25%; left: 69.74%;" id="9">9</div>
            <div class="red-circle" style="top: 3.08%; left: 59.88%;" id="10">10</div>
            <div class="red-circle" style="top: 2.82%; left: 49.16%;" id="11">11</div>
            <div class="red-circle" style="top: 2.91%; left: 34.47%;" id="12" >12</div>
            <div class="red-circle" style="top: 2.74%; left: 19.42%;" id="13">13</div>
            <div class="red-circle" style="top: 6.24%; left: 3.34%;" id="14">14</div>
            <div class="red-circle" style="top: 30.43%; left: 5.07%;" id="15">15</div>
            <div class="red-circle" style="top: 64.80%; left: 6.34%;" id="16">16</div>
            <div class="red-circle" style="top: 81.56%; left: 3.23%;" id="17">17</div>
            <div class="red-circle" style="top: 87.37%; left: 13.83%;" id="18">18</div>
            <div class="red-circle" style="top: 87.29%; left: 25.36%;" id="19">19</div>
            <div class="red-circle" style="top: 87.88%; left: 37.87%;" id="20">20</div>
            <div class="red-circle" style="top: 86.00%; left: 55.91%;" id="21">21</div>
            <div class="red-circle" style="top: 87.29%; left: 70.14%;" id="22">22</div>
            <div class="red-circle" style="top: 86.94%; left: 80.69%;" id="23">23</div>
            <div class="red-circle" style="top: 68.56%; left: 80.52%;" id="24">24</div>
            <div class="red-circle" style="top: 43.94%; left: 77.93%;" id="25">25</div>
            <div class="red-circle" style="top: 43.43%; left: 69.05%;" id="26">26</div>
            <div class="red-circle" style="top: 43.60%; left: 60.35%;" id="27">27</div>
            <div class="red-circle" style="top: 13.68%; left: 48.24%;" id="28">28</div>
            <div class="red-circle" style="top: 16.76%; left: 34.12%;" id="29">29</div>
            <div class="red-circle" style="top: 16.84%; left: 25.42%;" id="30">30</div>
            <div class="red-circle" style="top: 16.59%; left: 15.33%;" id="31">31</div>
            <div class="red-circle" style="top: 34.28%; left: 16.48%;" id="32">32</div>
            <div class="red-circle" style="top: 76.17%; left: 16.71%;" id="33">33</div>
            <div class="red-circle" style="top: 76.26%; left: 25.59%;" id="34">34</div>
            <div class="red-circle" style="top: 76.17%; left: 34.76%;" id="35">35</div>
            <div class="red-circle" style="top: 33.94%; left: 25.82%;" id="36">36</div>
            <div class="red-circle" style="top: 33.85%; left: 35.45%;" id="37">37</div>
            <div class="red-circle" style="top: 27.70%; left: 47.95%;" id="38">38</div>
            <div class="red-circle" style="top: 61.72%; left: 45.42%;" id="39">39</div>
            <div class="red-circle" style="top: 54.88%; left: 50.26%;" id="40">40</div>
            <div class="red-circle" style="top: 54.97%; left: 59.65%;" id="41">41</div>
            <div class="red-circle" style="top: 55.57%; left: 69.34%;" id="42">42</div>
            <div class="red-circle" style="top: 55.14%; left: 83.34%;" id="43">43</div>
            <div class="red-circle" style="top: 68.31%; left: 69.74%;" id="44">44</div>
            <div class="red-circle" style="top: 68.99%; left: 62.19%;" id="45">45</div>
            <div class="red-circle" style="top: 77.63%; left: 50.09%;" id="46">46</div>
            <div class="red-circle" style="top: 96.43%; left: 36.43%;" id="47">47</div>

            <!--            <div style="width: 63.79%; transform: rotate(0.764243rad); position: absolute; background-color: black; height: 2px; transform-origin: top;"></div>-->
        </div>
    </div>
</div>

